{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css '%}" />
	<title>HomePage</title>
</head>

<body>
	<header id="navbarscroll">
		<nav class="navbar">
			<div class="nav">
				<div class="logo">
					<h3>Vac<span style="color: #0bb8c6;">cimo</span></h3> </div>
				<div class="nav-list" id="nav-menu" style=" right: 0px;
                    position: absolute;">
					<ul>
						<li><a href="#home" class="nav-link active d-block">Home</a></li>
						<li><a href="#service" class="nav-link">Service</a></li>
						<li><a href="#about" class="nav-link">About</a></li>
						<li><a href="#contact" class="nav-link">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<section id="home">
			<div class="container-login"> <img id="bg-main" src="{% static 'images/vaccine.jpg' %}" alt="Cover Image" style="position: absolute; height: 100%; width: 100%;" />
				<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/t.jpg' %}" class="d-block w-100" alt="..." style="height: 100vh;" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/w.jpg' %}" class="d-block w-100" alt="..." style="height: 100vh;" />
                    </div>
                </div>        
            </div> -->
				<div class="row">
					<div class="col-sm-6">
						<div class="leftLogin">
							<!-- Modal -->
							<div class="modal fade" style="z-index: 10000;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content" style="padding: 30px;">
										<div class="modal-header">
											<div class="modal-title " style="color:black ;" id="exampleModalLabel">
												<h6 style="font-size: 32px;">Sign up </h6>
												<p style="font-size: 15px;">It’s quick and easy.</p>
												<!-- {% for message in messages %} -->
												<!-- {% if error %}
                                <div class="alert alert-danger" style=" padding: 4px; margin: 0px;" role="alert">
                                    {{error}} 
                                </div>
                                {% endif %} -->
												<!-- {% endfor %} -->
											</div>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body" style="text-align: center;">
											<form action="{% url 'register' %}" method="POST">
												<!-- {!!csrf_field()!!} -->{% csrf_token %}
												<div class="flex" style="    display: flex;gap: 30px;">
													<div class="form-group" style="display:flex ;"> <span class="input-group-text" style="border-radius: 0px;" id="basic-addon1"><i class="fa fa-fw fa-user"></i></span>
														<input style="font-size: 16px; border-radius: 0px;width: 100%!important;" id="first_name" name="first_name" type="name" placeholder="First Name" autocomplete="off" class="form-control" required/> <span class="help-block"></span> </div>
													<div class="form-group" style="display:flex ;"> <span class="input-group-text" style="border-radius: 0px;" id="basic-addon1"><i class="fa fa-fw fa-user"></i></span>
														<input style="font-size: 16px; border-radius: 0px;width: 100%!important;" id="last_name" name="last_name" type="name" placeholder="Last Name" autocomplete="off" class="form-control" required/> <span class="help-block"></span> </div>
												</div>
												<div class="form-group" style="display:flex ;"> <span class="input-group-text" style="border-radius: 0px;" id="basic-addon1"><i class="fa fa-fw fa-envelope"></i></span>
													<input style="font-size: 16px; border-radius: 0px;width: 100%!important;" id="email" name="email" type="email" placeholder="Email" autocomplete="off" class="form-control" required/> <span class="help-block"></span> </div>
												<div class="form-group" style="display:flex ;"> <span class="input-group-text" style="border-radius: 0px;" id="basic-addon1"><i class="fa fa-fw fa-user " ><b></b></i></span>
													<input style="font-size: 16px; border-radius: 0px;width: 100%!important;" id="username" name="username" type="text" placeholder="Username" autocomplete="off" class="form-control" minlength="8" required/> <span class="help-block"></span> </div>
												<div class="form-group" style="display:flex ;"> <span class="input-group-text" style="border-radius: 0px;" id="basic-addon1"><i class="fa fa-fw fa-key"></i></span>
													<input style="font-size: 16px; border-radius: 0px;width: 100%!important;" id="password2" name="password" type="password" data-bs-toggle="popover" placeholder="Password" class="form-control" minlength="8" pattern="(?=.*\d)(?=.*[\W_]).{7,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required /> <span class="eye" onclick="passwordShow2()">
                                        <i class="fa fa-fw fa-eye" id="hide1s" style="align-self: center;
                                        margin: 7px; position: absolute;color: black;right: 0%; display:none"></i>
                                        <i class="fa fa-fw fa-eye-slash" id="hide2s" style="align-self: center;
                                        margin: 7px; position: absolute;color: black;right: 0%;"></i>
                                        </span> <span class="help-block"></span> </div>
												<div class="form-group" style="display:flex ;"> <span class="input-group-text" style="border-radius: 0px;" id="basic-addon1"><i class="fa fa-fw fa-key"></i></span>
													<input style="font-size: 16px; border-radius: 0px;width: 100%!important;" id="password_confirmation" name="password_confirmation" type="password" placeholder="Verify Password" class="form-control" required/> <span class="help-block"></span> </div>
												<div class="form-group login-submit mt-4">
													<button style="font-size: 20px; " data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">Sign up</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- modal end -->
						</div>
					</div>
					<div class="col-sm-6">
						<div class="rightLogin">
							<section class="login">
								<div class="be-wrapper be-login" style="border-radius: 20px !important;">
									<div class="be-content">
										<div class="main-content container-fluid">
											<div class="splash-container">
												<div class="panel"> {% for msg in messages %}
													<!-- sweetalert js -->
													<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
													<script>
													var m = "{{ msg }}";
													Swal.fire({
														icon: 'success',
														title: m,
													});
													</script> {% endfor %}
													<div class="panel-body"> {% if error %}
														<div class="alert alert-danger error">
															<div>
																<p><b>Wrong Credentials </b>
																	<br>{{ error }} </p>
															</div>
														</div> {% endif %}
														<form action="{%url 'loginpage'%}" method="POST"> {% csrf_token %}
															<div class="form-group" style="display:flex"> <i class="fa fa-fw fa-envelope" style="align-self: center;
                                                    margin: 5px;"></i>
																<input style="font-size: 16px;width: 100% !important;" id="username" name="username" type="text" placeholder="Username" autocomplete="off" class="form-control" required /> </div>
															<div class="form-group" style="display:flex"> <i class="fa fa-fw fa-key" style="align-self: center;
                                                    margin: 5px;"></i>
																<input style="font-size: 16px;width: 100% !important;" id="password1" name="password" type="password" placeholder="Password" class="form-control" required /> <span class="eye" onclick="passwordShow()">
                                                    <i class="fa fa-fw fa-eye" id="hide1s" style="align-self: center;
                                                    margin: 7px; position: absolute;color: black;right: 0%; display:none"></i>
                                                    <i class="fa fa-fw fa-eye-slash" id="hide2s" style="align-self: center;
                                                    margin: 7px; position: absolute;color: black;right: 0%;"></i>
                                                    </span> </div>
															<div class="form-group login-submit mt-4">
																<button style="font-size: 16px;" data-dismiss="modal" type="submit" class="btn btn-primary btn-xl w-100">Log In</button>
															</div>
															<hr style="color: black;">
															<button class="btn btn-success w-50" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign up</button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
			<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/t.jpg' %}" class="d-block w-100" alt="..." style="height: 100vh;" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/w.jpg' %}" class="d-block w-100" alt="..." style="height: 100vh;" />
                    </div>
                </div>
                <div class="carousel-caption d-sm-block">
                    <a href="{% url 'loginpage' %}"><button type="button" class="btn" id="btnlogin"></button></a>
                </div>          
            </div> -->
		</section>
		<section id="service">
			<div class="service-container">
				<br />
				<h1>SERVICES</h1>
				<div class="service-list">
					<div class="card-list"> <img class="rounded-circle mb-3" src="{% static 'images/par.png' %}" alt="Generic placeholder image" width="140" height="140" />
						<br>
						<br>
						<h2>WHAT ADVERSE REACTION SHOULD YOU INDICATE?</h2>
						<br>
						<p> We urge individuals to report any medical problems that occur after getting vaccinated. The immunization may create certain issues. Others may not have a link.<span id="dots">...</span> <span id="more">The application you use to submit a report to us collects information such as:The vaccinationThe individual who was immunizedThe response that occurred </span> </p>
						<button type="button" class="btn-service" style="margin-top: 26px;" onclick="myFunction()" id="myBtn">Read more</button>
					</div>
					<div class="card-list"> <img class="rounded-circle mb-5" src="{% static 'images/par2.png' %}" alt="Generic placeholder image" width="140" height="140" />
						<br>
						<h2>
                                WHY SHOULD CARE ABOUT SIDE <br />
                                EFFECTS?
                            </h2>
						<br>
						<p> Vaccimo contains valuable information to vaccine safety specialists, allowing them to examine any vaccination safety risks, including the different kind of COVID-19 vaccines.<span id="dots2">...</span> <span id="more2">
                                    It is especially beneficial for spotting unusual or unexpected patterns of health issues (also known as "adverse events") that may suggest a potential vaccination safety risk. Severe reactions that might
                                    lead to long-term health problems are exceedingly rare after any immunization, particularly COVID-19 vaccination. If side effects do develop, they usually occur within six weeks of getting a vaccination
                                    dose.
                                </span> </p>
						<button type="button" class="btn-service" onclick="myFunction2()" id="myBtn2">Read more</button>
					</div>
					<div class="card-list"> <img class="rounded-circle mb-3" src="{% static 'images/par3.png' %}" alt="Generic placeholder image" width="140" height="140" />
						<br>
						<br>
						<h2>REGISTER TO VACCIMO:</h2>
						<br>
						<p> You can participate in Vaccimo after receiving any dose of COVID-19 vaccination by visiting vsafe.cdc.gov on your desktop or mobile device.<span id="dots3">...</span> <span id="more3"> Keep your vaccination information card handy to help you recall which vaccines you got and when.</span> </p>
						<button type="button" class="btn-service" style="margin-top: 50px;" onclick="myFunction3()" id="myBtn3">Read more</button>
					</div>
				</div>
			</div>
		</section>
		<section id="about">
			<div class="featurette-divider"> </div>
			<div class="about-container">
				<div class="about-title">
					<h1>ABOUT US</h1> </div>
				<div class="row featurette">
					<div class="col-md-7" style="text-align: justify;">
						<p class="lead"> VACCIMO is a monitoring system,which means it appears to be based on participants who reported their experiences to us. VACCIMO is not required to assess whether a vaccination caused a health problem, but it is particularly beneficial for spotting odd or unexpected patterns of adverse event reporting that may signal a probable vaccine safety concern. In this manner, VACCIMO can give us with pertinent information indicating that extra study and investigation are required to better examine a potential safety problem. VACCIMO offers individual and confidential health check-ins via app, allowing users and easily share how you or your dependents are feeling after receiving a COVID-19 vaccine. This data enables us to monitor the safety of COVID-19 vaccines in order to monitor. </p>
					</div>
					<div class="col-md-5"> <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{% static 'images/about.jpg' %}" data-holder-rendered="true" /> </div>
				</div>
			</div>
		</section>
		<div class="featurette-divider"> </div>
		<div class="contact-container" id="contact">
			<h1 class="pb-2" style="color: black; letter-spacing: 10px; font-weight: bold; font-size: xx-large;">CONTACT US</h1>
			<div class="row g-4 py-5 row-cols-1 row-cols-md-12">
				<div class="feature col-sm-4">
					<div class="feature-icon d-inline-flex align-items-center justify-content-center text-white fs-2 mb-3"> <i class="fa fa-envelope"></i> </div>
					<p>wtorreno.k11722006@umak.edu.ph</p>
				</div>
				<div class="feature col-sm-4">
					<div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3"> <i class="fa fa-phone"></i> </div>
					<p>09193645186-SMART/TNT</p>
				</div>
				<div class="feature col-sm-4">
					<div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3"> <i class="fa fa-location-arrow" aria-hidden="true"></i> </div>
					<p>JP.RIZAL EXTENSION WEST REMBO 1215 MAKATI CITY</p>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="footer-item">
				<ul>
					<li><a href="#home">Home</a></li>
					<li><a href="#service">Service</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<p class="text-center">© 2022 Vaccimo, Inc</p>
			</div>
		</footer>
	</main>
	<script>
	function passwordShow() {
		var pass = document.getElementById("password1");
		var h1 = document.getElementById("hide1s");
		var h2 = document.getElementById("hide2s");
		if(pass.type === 'password') {
			pass.type = "text";
			h1.style.display = "block";
			h2.style.display = "none";
		} else {
			pass.type = "password";
			h1.style.display = "none";
			h2.style.display = "block";
		}
	}

	function passwordShow2() {
		var pass = document.getElementById("password2");
		var h1 = document.getElementById("hide1s");
		var h2 = document.getElementById("hide2s");
		if(pass.type === 'password') {
			pass.type = "text";
			h1.style.display = "block";
			h2.style.display = "none";
		} else {
			pass.type = "password";
			h1.style.display = "none";
			h2.style.display = "block";
		}
	}
	</script>
	<script>
	window.onscroll = function() {
		scrollFunction();
	};
	const navscroll = document.getElementById("navbarscroll");

	function scrollFunction() {
		if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			navscroll.style.top = "-100px";
		} else {
			navscroll.style.top = "0px";
		}
	}

	function myFunction() {
		var dots = document.getElementById("dots");
		var moreText = document.getElementById("more");
		var btnText = document.getElementById("myBtn");
		if(dots.style.display === "none") {
			dots.style.display = "inline";
			btnText.innerHTML = "Read more";
			moreText.style.display = "none";
		} else {
			dots.style.display = "none";
			btnText.innerHTML = "Read less";
			moreText.style.display = "inline";
		}
	}

	function myFunction2() {
		var dots2 = document.getElementById("dots2");
		var moreText2 = document.getElementById("more2");
		var btnText2 = document.getElementById("myBtn2");
		if(dots2.style.display === "none") {
			dots2.style.display = "inline";
			btnText2.innerHTML = "Read more";
			moreText2.style.display = "none";
		} else {
			dots2.style.display = "none";
			btnText2.innerHTML = "Read less";
			moreText2.style.display = "inline";
		}
	}

	function myFunction3() {
		var dots = document.getElementById("dots3");
		var moreText = document.getElementById("more3");
		var btnText = document.getElementById("myBtn3");
		if(dots.style.display === "none") {
			dots.style.display = "inline";
			btnText.innerHTML = "Read more";
			moreText.style.display = "none";
		} else {
			dots.style.display = "none";
			btnText.innerHTML = "Read less";
			moreText.style.display = "inline";
		}
	}
	</script>
</body>

</html>