<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>side Effect Report Data</title>
  
    
    <style type="text/css">
      .cell-detail{
        writing-mode: vertical-lr;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
        /* CSS styles go here */
        body {
        font-family: Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
      }
      h4 {
        color: rgb(0, 0, 0);
        text-align: left;
        }
 
      .header {
        position: absolute;
        height: 50px;
        color: black;
        text-align: center;
        align-items: center;
        line-height: 50px;
        display: flex;
      }
     
      @page {
        size: letter landscape;
        margin: 2cm;
    }
      </style>
</head>

<body>
    <div class="header">
        <h1>Side Effect Report</h1>
      </div>
      <div class="content">
        <div class="card">
          <div class="table-responsive">
            <table id="qwerty" class="display" style="width:100%">
              <thead>
                  <tr>
                    <th>Name</th>
                    <th>Contact Number</th>
                    <th>Vaccination Brand</th>
                    <th>Address</th>
                    <th>Age</th>
                    <th>Date Vaccinated</th>
                    <th>Gender</th>
                    <!--<th>date/time</th>-->
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td class="cell-detail"> <span>{{obj.author.first_name}} {{obj.author.last_name}}</span> </td>
                    <td class="cell-detail"> <span>{{obj.tenderness.contact_number}}</span> </td>
                    <td class="cell-detail"> <span>{{obj.tenderness.vaccination_brand}}</span> </td>
                    <td class="cell-detail"> <span>{{obj.tenderness.address}}</span> </td>
                    <td class="cell-detail"> <span>{{obj.tenderness.age}}</span> </td>
                    <td class="cell-detail"> <span>{{obj.tenderness.bday}}</span> </td>
                    <td class="cell-detail"> <span>{{obj.tenderness.gender}}</span> </td>
                    <!--<td class="cell-detail"> <span>{{i.date_created}}</span> </td>-->
                  </tr>
              </tbody>
             
          </table>
          <table id="qwerty" class="display" style="width:100%">
            <thead>
              <tr>
                <th>#</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Have you (or any family member/s) been diagnosed with or tested positive for COVID-19 in the past three (3) months?">Q1</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Do you or have you the following symptoms in the past 14 days? Fever of greater than 37.5°C">Q2</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Do you or have you had any 'flu-like' symptoms, such as cough or chills, in the past 14 days?">Q3</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Do you experience shortness of breath or breathing difficulty?">Q4</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Do you have any difficulties with your sense of taste or smell at present?">Q5</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Headache, muscle or body ache?">Q6</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Weakness or fatigue?">Q7</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Are you experiencing diarrhea?">Q8</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Do you have any allergy to food, antibiotics, or any medicine?">Q9</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Have you ever had a severe reaction to vaccines in the past?">Q10</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Have you received any vaccine in the last 14 days?">Q11</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Do you have any of the following illness/disease?">Q12</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="For women : Are you pregnant">F-Q1</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="For women who are pregnant, are you in your 1st trimester (1 to 3 months) of pregnancy?">F-Q2</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="For women : Plans to get pregnant in the next 6 months?">F-Q3</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="For women : Do you have a bleeding disorder or are you taking a blood thinner? (Example of Bleeding disorder: Hemophilia, Thalassemia)(Example of blood thinning medications: Aspirin, Clopidogrel, Warfarin, Cilostazol)">F-Q4</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="HIV Diagnosis">Q13</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Cancer/Malignancy">Q14</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Transplant Patient">Q15</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Under steroid treatment">Q16</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Bed ridden, terminal illness, less than 6mos prognosis">Q17</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Are you bedridden?">Q18</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Are you wheelchair bound?">Q19</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Insect Allergy">allergy</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Latex Allergy">allergy</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Mold Allergy">allergy</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Pet Allergy">allergy</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Pollen Allergy">allergy</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="With Co-morbidities?">Q20</th>
                <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Was diagnosed with COVID-19?">Q21</th>
              </tr>
            </thead>
            <tbody>
              <tr>   
                <td class="cell-detail"> <span>{{forloop.counter}}</span></td>
                <td class="cell-detail"> <span>{{obj.itch.Q0}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q1}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q2}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q3}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q4}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q5}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q6}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q7}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q8}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q9}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q10}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q15}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q11}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q12}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q13}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q14}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q16}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q17}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q18}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q19}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q20}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q21}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q22}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.allergy1}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.allergy2}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.allergy3}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.allergy4}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.allergy5}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q23}}</span> </td>
                <td class="cell-detail"> <span>{{obj.itch.Q24}}</span> </td>
              </tr> 
            </tbody>
          </table>
          <table id="qwerty1" class="display" style="width:100%">
              <thead>
                  <tr>
                    <th>Muscle ache</th>
                    <th>Headache</th>
                    <th>fever</th>
                    <th>redness</th>
                    <th>swelling</th>
                    <th>induration</th>
                    <th>chills</th>
                    <th>join pain</th>
                    <th>fatigue</th>
                    <th>nausea</th>
                    <th>vomiting</th>
                    <th>Status</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td class="cell-detail"> <span>{% if obj.muscle_ache == '1'%}Yes{% elif obj.muscle_ache == 'Yes' %}Yes{% else %}No{% endif %} </span> </td>
                    <td class="cell-detail"> <span>{% if obj.headache == '1'%}Yes{% elif obj.headache == 'Yes' %}Yes{% else %}No{% endif %} </span> </td>
                    <td class="cell-detail"> <span>{% if obj.fever == '1'%}Yes{% elif obj.fever == 'Yes' %}Yes{% else %}No{% endif %} </span> </td>
                    <td class="cell-detail"> <span>{% if obj.redness == '1'%}Yes{% elif obj.redness == 'Yes' %}Yes{% else %}No{% endif %} </span> </td>
                    <td class="cell-detail"> <span>{% if obj.swelling == '1'%}Yes{% elif obj.swelling == 'Yes' %}Yes{% else %}No{% endif %} </span> </td>
                    <td class="cell-detail"> <span>{% if obj.induration == '1'%}Yes{% elif obj.induration == 'Yes' %}Yes{% else %}No{% endif %} </span> </td>
                    <td class="cell-detail"> <span>{% if obj.chills == '1'%}Yes{% elif obj.chills == 'Yes' %}Yes{% else %}No{% endif %} </span> </td>
                    <td class="cell-detail"> <span>{% if obj.join_pain == '1'%}Yes{% elif obj.join_pain == 'Yes' %}Yes{% else %}No{% endif %} </span> </td>
                    <td class="cell-detail"> <span>{% if obj.fatigue == '1'%}Yes{% elif obj.fatigue == 'Yes' %}Yes{% else %}No{% endif %} </span> </td>
                    <td class="cell-detail"> <span>{% if obj.nausea == '1'%}Yes{% elif obj.nausea == 'Yes' %}Yes{% else %}No{% endif %} </span> </td>
                    <td class="cell-detail"> <span>{% if obj.vomiting == '1'%}Yes{% elif obj.vomiting == 'Yes' %}Yes{% else %}No{% endif %} </span> </td>
                    {% if obj.feverish == '0'%}
                    <td style="background-color: rgb(255, 204, 0);">No Symptoms</td>
                    {% elif obj.feverish == '1'%}
                    <td style="background-color: rgb(255, 204, 0);">Mild</td>
                    {% elif obj.feverish == '2'%}
                    <td style="background-color: rgb(255, 204, 0);">Mild</td>
                    {% elif obj.feverish == '3' %}
                    <td style="background-color: rgb(255, 153, 51);">Moderate</td>
                    {% elif obj.feverish == '4' %}
                    <td style="background-color: rgb(255, 153, 51);">Moderate</td>
                    {% elif obj.feverish == '5' %}
                    <td style="background-color: rgb(255, 153, 51);">Moderate</td>
                    {% elif obj.feverish == '6' %}
                    <td style="background-color: rgb(255, 153, 51);">Moderate</td>
                    {% else %}
                    <td style="background-color: rgb(255 0 0 / 79%);">Severe</td>
                    {% endif %}
                  </tr>
              </tbody>
             
          </table>
  
          </div>
  </div>
      </div>
</body>
</html>